absl-py
aiohttp
aiosignal
anyio
appnope
argon2-cffi-bindings
argon2-cffi
arrow
asttokens
async-lru
async-timeout
attrs
autopep8
babel
beautifulsoup4
bleach
certifi
cffi
cfgv
charset-normalizer
colorama
colorspacious
colour
comm
contourpy
cycler
debugpy
decorator
defusedxml
dill
distlib
docstring-parser
exceptiongroup
executing
fastjsonschema
filelock
fonttools
fqdn
frozenlist
fsspec
grpcio
h11
h5py
httpcore
httpx
identify
idna
importlib-metadata
importlib-resources
ipykernel
ipympl
ipython-genutils
ipython
ipywidgets
isoduration
jedi
jinja2
joblib
json5
jsonpickle
jsonpointer
jsonschema-specifications
jsonschema
jsonschema[format-nongpl]
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server-terminals
jupyter-server
jupyter
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
jupyterlab
kiwisolver
markdown
markupsafe
matplotlib-inline
matplotlib
mistune
more-itertools
mpmath
msgpack
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nodeenv
normflows
notebook-shim
notebook
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
opencv-python
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
pre-commit
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycodestyle
pycparser
pydensecrf
pygments
pyparsing
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
pyyaml
pyzmq
qtconsole
qtpy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
segment-anything@git+https://github.com/facebookresearch/segment-anything.git
send2trash
setuptools
simple-parsing
six
sniffio
soupsieve
stack-data
sympy
tabulate
tensorboard-data-server
tensorboard
terminado
threadpoolctl
tinycss2
toml
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
trame-client
trame-server
trame
triton
types-python-dateutil
typing-extensions
typing-inspect
tzdata
uri-template
urllib3
virtualenv
wcwidth
webcolors
webencodings
websocket-client
werkzeug
widgetsnbextension
wslink
xmltodict
yarl
zipp
